* {
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

button {
    background: rgb(12, 141, 226);
    border: none;
    padding: .5rem;
    text-decoration: none;
    margin: 1rem .2rem;
    border-radius: .4rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
   
}

.container {
    /* serve para o item não criar uma barra lateral */
    overflow: hidden; 
}

.content {
    display: flex;
    transition: transform 0.3s ease;
}

.item {
    /* serve para ele nao comprimir meu item deixando ele ocupar os 80% definidos */
    flex-shrink: 0;
    width: 80%;
    margin: 0 10%;
    padding: 10rem 0;
    background: #dfdddd;
    border-radius: .4rem;
    text-align: center;
}

.nav {
    display: flex;
    margin:  2rem auto;
    justify-content: space-between;
    width: 80%;
}