* {
    margin: 0;
    padding: 0;
}
.content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: #000000;
    width: 100%;
    height: 9rem;
    margin-right: .3rem;
    background-image: url(../img/capa3.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 60%;
    
}
.buttonNav {
    border: none;
    padding: .3rem;
    margin-right: 5px;
    font-size: 1rem;
    font-weight: bold;
    background: #ec850e;
    color: #fff;
   
}



.li {
    list-style-type: none;
    
}

.nav {
    margin-right: .6rem;
}

@media (max-width: 425px) {
    .content {
        background-size: 100%;
        background-position: 41% 77%;
    }

    .nomePersonagem {
        margin: 8rem 2rem 1rem 0;
    }
}



