@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


   

.container {
   display: flex;
   flex-direction: column;
   
}

.content {
    display: flex;
    flex-direction: column;
   
    
}

.campoImg {
    display: flex;
    align-items: center;
    background: #d60d0d;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 0 3px 3px black;
    border-radius: 1rem;
    color: #fff;
    position: relative;
}

.tituloPrincipal {
    width: auto;
    display: flex;
    margin: .5rem auto;
    font-size: 1.8rem;
    padding: 2rem;
    background: #ec850e;
    box-shadow: 3px 0px 3px #c76e08, 5px 5px 5px black;
    border: 2px solid black;
    border-radius: 25%;
    font-family: 'Righteous', cursive;
}

.tituloPrincipal:hover {
    color: #fff;
    transform: rotateX(15deg);
}

.imgPersonagem {
    max-width: 30%;
   padding: 1rem;
   
}

.nomePersonagem {
    padding: 0 1rem;
    background: #ec850e;
    width: 30%;
    margin: 2rem;
    font-family: 'Slackey', cursive;
}

.nomePersonagem:hover {
    color: #fff;
}

.texto { 
    font-size: 1.5rem;
    font-family: 'Permanent Marker', cursive;
}

.punho {
    width: 5%;
    position: absolute;
    bottom: 10px;
    right: 62%;
    padding: 10px;
}

.raio {
    width: 5%;
    position: absolute;
    bottom: 10px;
    right: 47%;
    padding: 10px;
}

.escudo {
    width: 7%;
    position: absolute;
    bottom: -6px;
    right: 27%;
    padding: 10px;
}
    


.spanForca {
    width: 10%;
    position: absolute;
    bottom: 10px;
    right: 52%;
    font-size: .9rem;
    font-family: 'Press Start 2P', cursive;
}

.spanRaio {
    width: 10%;
    position: absolute;
    bottom: 10px;
    right: 38%;
    font-size: .9rem;
    font-family: 'Press Start 2P', cursive;
}

.spanEscudo {
    width: 10%;
    position: absolute;
    bottom: 10px;
    right: 18%;
    font-size: .9rem;
    font-family: 'Press Start 2P', cursive;
}

.contentEmoji {
    display: flex;
}

.buttonTransformar {
    display: flex;
    background: #1a1919;
    border: none;
    padding: .6rem;
    color: #fff;
    font-weight: bold;
    border-radius: .3rem;
    font-size: 2rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.buttonTransformar:hover {
    color: #d60d0d;
    padding: 1rem;
}

@media (max-width: 375px) {
    .nomePersonagem {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        width: 85%;
    }
    .buttonTransformar {    
        width: 100%;
        justify-content: center;
    }
    .imgPersonagem {
        max-width: 100%;
    }
    .campoImg {
        display: block;
        height: 600px;
    }
    .contentEmoji {
        width: 100%;
        height: 77px;
        
    }
    .punho {
        width: 14%;
        right: 88%;
    }
    .spanForca {
        display: flex;
        bottom: 20px;
        right: 80%;
        font-size: .6rem;
    }
    .raio {
        width: 14%;
        bottom: 8px;
        right: 56%;
    }
    .spanRaio {
        display: flex;
        bottom: 20px;
        right: 50%;
        font-size: .6rem;
    }
    .escudo {
        width: 14%;
        position: absolute;
        bottom: 9px;
        right: 22%;
    }
    .spanEscudo {
        display: flex;
        bottom: 20px;
        right: 15%;
        font-size: .6rem;
    }
    .tituloPrincipal {
        text-align: center;
    }
}
@media (min-width: 376px ) {
    .nomePersonagem {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        width: 85%;
    }
    .buttonTransformar {    
        width: 100%;
        justify-content: center;
    }
    .imgPersonagem {
        max-width: 100%;
    }
    .campoImg {
        display: block;
        height: 600px;
    }
    .contentEmoji {
        width: 100%;
        height: 77px;
        
    }
    .punho {
        width: 14%;
        right: 88%;
    }
    .spanForca {
        display: flex;
        bottom: 20px;
        right: 80%;
        font-size: .5rem;
    }
    .raio {
        width: 14%;
        bottom: 8px;
        right: 56%;
    }
    .spanRaio {
        display: flex;
        bottom: 20px;
        right: 50%;
        font-size: .5rem;
    }
    .escudo {
        width: 14%;
        position: absolute;
        bottom: 9px;
        right: 22%;
    }
    .spanEscudo {
        display: flex;
        bottom: 20px;
        right: 15%;
        font-size: .5rem;
    }
    .tituloPrincipal {
        text-align: center;
    }
}
@media (min-width: 425px) {
    .tituloPrincipal {
        width: auto;
    }
    .nomePersonagem {
        /* margin: 9rem 2rem 1rem 0; */
        width: 85%;
    }
    .buttonTransformar {    
        width: 100%;
        justify-content: center;
    }
    .imgPersonagem {
        max-width: 100%;
    }
    .campoImg {
        display: block;
        height: 600px;
    }
    .contentEmoji {
        width: 100%;
        height: 77px;
        
    }
    .punho {
        width: 14%;
        right: 88%;
    }
    .spanForca {
        display: flex;
        bottom: 20px;
        right: 80%;
        font-size: .6rem;
    }
    .raio {
        width: 14%;
        bottom: 8px;
        right: 56%;
    }
    .spanRaio {
        display: flex;
        bottom: 20px;
        right: 50%;
        font-size: .6rem;
    }
    .escudo {
        width: 14%;
        position: absolute;
        bottom: 9px;
        right: 22%;
    }
    .spanEscudo {
        display: flex;
        bottom: 20px;
        right: 15%;
        font-size: .6rem;
    }
    .tituloPrincipal {
        text-align: center;
    }
}
@media (min-width: 426px) {
    .nomePersonagem {
        
        width: 85%;
    }
    .buttonTransformar {    
        top: 49%;
        width: auto;
        padding: 0;
    }
    .imgPersonagem {
        max-width: 100%;
    }
    .campoImg {
        display: block;
        height: auto;
    }
    .contentEmoji {
        width: 100%;
        height: 77px;
        
    }
    .punho {
        width: 14%;
        right: 88%;
    }
    .spanForca {
        display: flex;
        bottom: 20px;
        right: 80%;
        font-size: .6rem;
    }
    .raio {
        width: 14%;
        bottom: 8px;
        right: 56%;
    }
    .spanRaio {
        display: flex;
        bottom: 20px;
        right: 50%;
        font-size: .6rem;
    }
    .escudo {
        width: 14%;
        position: absolute;
        bottom: 9px;
        right: 22%;
    }
    .spanEscudo {
        display: flex;
        bottom: 20px;
        right: 15%;
        font-size: .6rem;
    }
    .tituloPrincipal {
        text-align: center;
    }
}
@media (min-width: 631px) {
    .nomePersonagem {
        
        width: 85%;
    }
    .buttonTransformar {    
        top: 45%;
        width: auto;
        padding: 0;
    }
    .imgPersonagem {
        max-width: 100%;
    }
    .campoImg {
        display: block;
        height: auto;
    }
    .contentEmoji {
        width: 100%;
        height: 77px;
        
    }
    .punho {
        width: 14%;
        right: 88%;
    }
    .spanForca {
        display: flex;
        bottom: 20px;
        right: 80%;
        font-size: .6rem;
    }
    .raio {
        width: 14%;
        bottom: 8px;
        right: 56%;
    }
    .spanRaio {
        display: flex;
        bottom: 20px;
        right: 50%;
        font-size: .6rem;
    }
    .escudo {
        width: 14%;
        position: absolute;
        bottom: 9px;
        right: 22%;
    }
    .spanEscudo {
        display: flex;
        bottom: 20px;
        right: 15%;
        font-size: .6rem;
    }
    .tituloPrincipal {
        text-align: center;
    }
}
@media (min-width: 856px) {
    .nomePersonagem {
        margin: 9rem 2rem 1rem 0;
        width: 85%;
    }
    .buttonTransformar {    
        top: 32%;
        width: auto;
        padding: 0;
    }
    .imgPersonagem {
        max-width: 100%;
    }
    .campoImg {
        display: block;
        height: auto;
    }
    .contentEmoji {
        width: 100%;
        height: 77px;
        
    }
    .punho {
        width: 14%;
        right: 88%;
    }
    .spanForca {
        display: flex;
        bottom: 20px;
        right: 80%;
        font-size: .6rem;
    }
    .raio {
        width: 14%;
        bottom: 8px;
        right: 56%;
    }
    .spanRaio {
        display: flex;
        bottom: 20px;
        right: 50%;
        font-size: .6rem;
    }
    .escudo {
        width: 14%;
        position: absolute;
        bottom: 9px;
        right: 22%;
    }
    .spanEscudo {
        display: flex;
        bottom: 20px;
        right: 15%;
        font-size: .6rem;
    }
    .tituloPrincipal {
        text-align: center;
    }
}