.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nome {
    margin: 0.5rem 0;
}

@media(max-width: 425px) {
    .produtos{
        grid-template-columns: repeat(2, 1fr);
    }
}