.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    gap: 2rem;
}

.login::before {
    display: block;
    content: '';
    background: url('../../Assets/login.jpg') no-repeat center center;
    /*serve para pegar a img inteira na tela*/
    background-size: cover;
}

.forms {
    max-width: 30rem;
    padding: 2rem;
}

@media (max-width: 40rem) {
    .login {
        grid-template-columns: 1fr;
        
    }

    .login::before {
        width: 100%;
        display: block;
        padding-top: 15rem;
    }
    
    .forms {
        max-width: 100%;
    }
}